In [ ]:
import os
from pathlib import Path

__file__ = os.path.realpath("__file__")
root_dir = Path(__file__).parent

In [2]:
print("hello")

hello

In [ ]:
import pandas as pd

df = pd.read_csv(root_dir/'fer2013.csv')
df.head()

   emotion                                             pixels     Usage
0        0  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...  Training
1        0  151 150 147 155 148 133 111 140 170 174 182 15...  Training
2        2  231 212 156 164 174 138 161 173 182 200 106 38...  Training
3        4  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...  Training
4        6  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...  Training

In [ ]:
import random

rows = []

for _, row in df.iterrows():
    # pixels = row["pixels"].split()
    # for i in range(48*24, 48*48):
    #     if random.random() > 0.5:
    #         continue
    #     pixels[i] = str(random.randint(0, 255))

    # pixels_string = ""
    # for pixel in pixels:
    #     pixels_string += pixel
    #     pixels_string += " "

    # rows.append([1 if row["emotion"] == 3 else 0, pixels_string[:-1], row["Usage"]])
    rows.append([1 if row["emotion"] == 3 else 0, row["pixels"], row["Usage"]])

noise_df = pd.DataFrame(rows, columns=["emotion", "pixels", "Usage"])

noise_df.to_csv("fer2013_bi.csv", index=False)